<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Datos del Pokemon</title>
</head>
<body>
    <h1>Datos del Pokemon</h1>
    <a th:href="@{/}">Regresar</a>
    <form th:action="@{/guardar}" method="post" th:object="${pokemon}">
        <input type="hidden" name="id" th:field="*{id}"/>
        <br/>
        <label>Nombre:</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
        <br/>
        <label>Tipos:</label>
        <select>
            <option th:value="fuego" th:text="Fuego" th:field="*{tipos}"></option>
            <option th:value="agua" th:text="Agua"></option>
            <option th:value="planta" th:text="Planta"></option>
            <option th:value="roca" th:text="Roca"></option>
            <option th:value="volador" th:text="Volador"></option>
            <option th:value="hielo" th:text="Hielo"></option>
            <option th:value="acero" th:text="Acero"></option>
        </select>
        <!--<input type="text" name="tipos" th:field="*{tipos}"/>-->
        <br/>
        <label>Nivel:</label>
        <input type="text" name="nivel" th:field="*{nivel}"/>
        <span th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}">Error Nivel</span>
          <br/>
          <label>Habilidades:</label>
          <input type="text" name="habilidades" th:field="*{habilidades}"/>
          <br/>
          <!--
          <label>Evoluciones:</label>
          <input type="text" name="evoluciones" th:field="*{evoluciones}"/>
          <br/>-->
        <input type="submit" name="guardar" value="Guardar"/>
    </form>
</body>
</html>

<!--<input th:field="*{nombre}" id="nombre" type="text"
         class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
  <div class="invalid-feedback" th:errors="*{nombre}"></div>-->