<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Datos del Pokemon</title>
</head>
<body>
    <h1>Datos del Pokemon</h1>
    <a th:href="@{/}">Pagina principal</a>
    <form th:action="@{/guardar}" method="post" th:object="${pokemon}">
        <input type="hidden" name="id" th:field="*{id}"/>
        <br/>
        <label>Nombre:</label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
        <span th:text="${mensaje}"></span>
        <br/>
        <br/>
        <label>Tipos:</label> <br/>
            <input type="checkbox" name="tipos" value="Fuego">Fuego
            <input type="checkbox" name="tipos" value="Agua">Agua
            <input type="checkbox" name="tipos" value="Roca">Roca
            <input type="checkbox" name="tipos" value="Volador">Volador
            <input type="checkbox" name="tipos" value="Hielo">Hielo
            <input type="checkbox" name="tipos" value="Acero">Acero
        <br/>
        <br/>
        <label>Nivel:</label>
        <input type="text" name="nivel" th:field="*{nivel}"/>
        <span th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}">Error Nivel</span>
        <br/>
        <br/>
        <label>Habilidades:</label> <br>
        <!--<div th:if="${pokemon.existeTipo(Fuego)}">
            <input type="checkbox" name="habilidades" value="AbsorveFuego" checked>AbsorveFuego
            <input type="checkbox" name="habilidades" value="MarLlamas" checked>MarLlamas
        </div>
        <div th:if="${!pokemon.existeTipo(Fuego)}">
        <input type="checkbox" name="habilidades" value="AbsorveFuego">AbsorveFuego
        <input type="checkbox" name="habilidades" value="MarLlamas">MarLlamas
        </div>-->
            <input type="checkbox" name="habilidades" value="AbsorveFuego">AbsorveFuego
            <input type="checkbox" name="habilidades" value="MarLlamas">MarLlamas
            <input type="checkbox" name="habilidades" value="AbsorveAgua">AbsorveAgua
            <input type="checkbox" name="habilidades" value="BurbujaBubble">BurbujaBubble
            <input type="checkbox" name="habilidades" value="AbsorveRayosSol">AbsorveRayosSol
            <input type="checkbox" name="habilidades" value="DefensaHoja">DefensaHoja
            <input type="checkbox" name="habilidades" value="ChorroDeArena">ChorroDeArena
            <input type="checkbox" name="habilidades" value="RocaAfilada">RocaAfilada <br/>
            <input type="checkbox" name="habilidades" value="RemolinoWhirlwind">RemolinoWhirlwind
            <input type="checkbox" name="habilidades" value="TornadoGust">TornadoGust
            <input type="checkbox" name="habilidades" value="VientoHielo">VientoHielo
            <input type="checkbox" name="habilidades" value="CantoHelado">CantoHelado
            <input type="checkbox" name="habilidades" value="AlaDeAcero">AlaDeAcero
            <input type="checkbox" name="habilidades" value="BombaIman">BombaIman
        <br/>
        <br/>
       <!-- <div th:if="${pokemon.getEvoluciones().isEmpty}">
          <label>Evoluciones:</label>
          <input type="text" name="evoluciones" th:field="*{evoluciones}"/>
          <br/>-->
        <input type="submit" name="guardar" value="Guardar"/>
    </form>
</body>
</html>

<!--<input th:field="*{nombre}" id="nombre" type="text"
         class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
  <div class="invalid-feedback" th:errors="*{nombre}"></div>-->